.home-view
    .card.bgc-blue-800.text-center.tc-white(class="p+++")
        h2.title Cert Utils
        h3.subtitle
            | In Browser Cert Utilities.
        a.btn.btn--green.btn--l.btn--raised(class="mt+", ui-sref="root.dashboard", lx-ripple="white") Get Started
