.csr-detail-view.full-width
    .card
        .card-header(class="p+")
            h3.title PEM
            .card
                {{vm.results.pem}}
        .card-header(class="p+")
            h3.title KEY
            .card
                {{vm.results.key}}
